@import url(mainMedia.css) (max-width: 400px);

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  .header {
    background: #101416;
    display: none;
    .header__nav {
      margin: 0!important;
    }
    .header__name {
      display: none;
    }
    .text__header {
      display: flex;
      width: 200px!important;
      justify-content: start!important;
      margin-left: 0px!important;
      .text__li {
        color: black;
        font-size: 12px!important;
        padding: 10px 20px 0 20px;
        list-style-type: none;
      }
      .text__li:nth-child(n+2):nth-child(-n+4){
        display: none!important;
      }
      .text__li:hover {
        text-decoration: underline white;
        transition: 1s;
      }
    }
    .text__header a {
      text-decoration: none;
      transition: 1s;
    }
    .header__buttons {
      display: none;
      .header__btn {
        display: none;
      }


      .header__btn2 {
        display: none!important;
      }
    }

  }

  .blue {
    display: none;
    .blue__p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 0;
      color: #FFFFFF;
    }
  }

  .main {
    background-image: url("./img/back1.jpg");

    .main__h1 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: 2.8px;
      color: #FFFFFF;
      margin: 0;
      padding: 300px 0 0 40px;
      width: 25%;
    }

    .main__img {
      display: block;
      margin: auto;
    }

    .main__p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      width: 70%!important;
      padding: 40px;
      color: #FFFFFF;
    }
    .main__btn {
      display: none;
    }





  }

}

.p {
  margin-top: 250px;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}


.sound {
  background: black;
  display: flex;
  .sound__right {
    width: 60%;
    .sound__h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 36px;
      color: #FFFFFF;
      padding: 0 0 0 40px
    }
    .sound__p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: start;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      color: #A6A8AD;
      padding: 40px;
    }
    .sound__p2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 0 0 20px 40px;
    }
    .sound__btn {
      display: none;
    }
  }
  .sound__left {
    width: 60%;
    .sound__img {
      display: none;
    }
  }
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #101416;
  display: flex;
  width: 100%;
  animation-name: show_header;
  animation-duration: 1s;
}

@keyframes show_header {
  0%{
    opacity: 0;
    top: -70px;
  }
  100%{
    opacity: 1;
    top: 0;

  }
}

.connect {
  background: black;
  display: flex;
  margin-top: 100px;
  .connect__left {
    width: 60%;
    padding: 40px;
    .connect__h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 36px;
      text-align: right;
      color: #FFFFFF;
    }
    .connect__p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      color: #A6A8AD;
      text-align: end;
    }
    .connect__p2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 0 0 20px 40px;
    }
  }
  .connect__right {
    width: 40%;
    .connect__img {
      display: none;
    }
  }
}

.gear {
  background: black;
  display: flex;
  margin-top: 100px;
  .gear__right {
    width: 60%;
    .gear__h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 36px;
      color: #FFFFFF;
      padding: 0 0 0 40px
    }
    .gear__p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: start;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      color: #A6A8AD;
      padding: 40px;
    }
    .gear__p2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 0 0 20px 40px;
    }
    .gear__btn {
      display: none;
    }
  }
  .gear__left {
    width: 60%;
    .gear__img {
      display: none;
    }
  }
}

.tech {
  background: black;
  display: flex;
  margin-top: 100px;
  .tech__left {
    width: 60%;
    padding: 40px;
    .tech__h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 36px;
      text-align: right;
      color: #FFFFFF;
    }
    .tech__p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      color: #A6A8AD;
      text-align: end;
    }
    .tech__p2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 0 0 20px 40px;
      text-align: end;
    }
  }
  .tech__right {
    width: 40%;
    .tech__img {
      display: none;
    }
  }
}

footer{
  margin-top: 140px;
}
footer #top-footer{
  display: none;
}
footer #top-footer .left-footer{
  display: none;
}

footer #top-footer .left-footer .block{
  display: none;
}
footer #top-footer .left-footer .block h2{
  display: none;
}
footer #top-footer .left-footer .block a{
  display: none;
}
footer #top-footer .left-footer .block span{
  display: none;
}

footer #top-footer .right-footer{
  display: none;
}
footer #top-footer .right-footer .block{
  display: none;
}
footer #top-footer .right-footer .block h2{
  display: none;
}
footer #top-footer .right-footer .block a{
  display: none;
}
footer #top-footer .right-footer .block span{
  font-family: WorkSans-Medium;
  color: white;
  margin-top: 20px;
  font-size: 14px;
}
footer #bottom-footer{
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-family: WorkSans-Regular;
  padding: 0 0 30px 0;

}

.h2__footer {
  display: none;
}


.a__footer {

  display: none;
}


.span__footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #A6A8AD;
}












