@import url(mainMedia.css) (max-width: 400px);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}
body .header {
  background: #101416;
  display: flex;
}
body .header .header__name {
  justify-content: flex-start;
  width: 100px;
  height: 35px;
  margin-left: 100px;
  padding: 25px;
}
body .header .text__header {
  display: flex;
  width: 403px;
  justify-content: center;
  margin-left: 250px;
}
body .header .text__header .text__li {
  color: black;
  font-size: 20px;
  padding: 10px 20px 0 20px;
  list-style-type: none;
}
body .header .text__header .text__li:hover {
  text-decoration: underline white;
  transition: 1s;
}
body .header .text__header a {
  text-decoration: none;
  transition: 1s;
}
body .header .header__buttons {
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: flex-end;
}
body .header .header__buttons .header__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #A6A8AD;
  padding: 8px 21px;
}
body .header .header__buttons .header__btn2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 20px;
  gap: 10px;
  font-size: 20px;
  width: 115px;
  height: 35px;
  color: black;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 32px;
}
body .blue {
  background: #0033FF;
  border-radius: 0px;
  margin: 0;
}
body .blue .blue__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  color: #FFFFFF;
}
body .main {
  background-image: url("./img/back1.jpg");
}
body .main .main__h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  margin: 0;
  padding: 300px 0 0 40px;
  width: 25%;
}
body .main .main__img {
  display: block;
  margin: auto;
}
body .main .main__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 25%;
  padding: 40px;
  color: #FFFFFF;
}
body .main .main__btn {
  background: #0033FF;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 60px 20px 60px;
  margin: 40px;
}

.p {
  margin-top: 250px;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

.sound {
  background: black;
  display: flex;
}
.sound .sound__right {
  width: 60%;
}
.sound .sound__right .sound__h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 0 0 0 40px;
}
.sound .sound__right .sound__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: start;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #A6A8AD;
  padding: 40px;
}
.sound .sound__right .sound__p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0 0 20px 40px;
}
.sound .sound__right .sound__btn {
  background: #0033FF;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  margin: 40px;
}
.sound .sound__left {
  width: 60%;
}
.sound .sound__left .sound__img {
  width: 770px;
  height: 576px;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #101416;
  display: flex;
  width: 100%;
  animation-name: show_header;
  animation-duration: 0.5s;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.connect {
  background: black;
  display: flex;
  margin-top: 100px;
}
.connect .connect__left {
  width: 60%;
  padding: 40px;
}
.connect .connect__left .connect__h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 36px;
  text-align: right;
  color: #FFFFFF;
}
.connect .connect__left .connect__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #A6A8AD;
  text-align: end;
}
.connect .connect__left .connect__p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0 0 20px 40px;
  text-align: end;
}
.connect .connect__right {
  width: 40%;
}
.connect .connect__right .connect__img {
  width: 880px;
  height: 686px;
}

.gear {
  background: black;
  display: flex;
  margin-top: 100px;
}
.gear .gear__right {
  width: 60%;
}
.gear .gear__right .gear__h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 0 0 0 40px;
}
.gear .gear__right .gear__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: start;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #A6A8AD;
  padding: 40px;
}
.gear .gear__right .gear__p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0 0 20px 40px;
}
.gear .gear__right .gear__btn {
  background: #0033FF;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  margin: 40px;
}
.gear .gear__left {
  width: 60%;
}
.gear .gear__left .gear__img {
  width: 770px;
  height: 576px;
}

.tech {
  background: black;
  display: flex;
  margin-top: 100px;
}
.tech .tech__left {
  width: 60%;
  padding: 40px;
}
.tech .tech__left .tech__h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 36px;
  text-align: right;
  color: #FFFFFF;
}
.tech .tech__left .tech__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #A6A8AD;
  text-align: end;
}
.tech .tech__left .tech__p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0 0 20px 40px;
  text-align: end;
}
.tech .tech__right {
  width: 40%;
}
.tech .tech__right .tech__img {
  width: 880px;
  height: 686px;
  padding: 20px;
}

footer {
  margin-top: 140px;
}

footer #top-footer {
  display: flex;
  width: 85%;
  margin: auto;
  border-bottom: 1px solid white;
  padding: 0 0 40px 0;
}

footer #top-footer .left-footer {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

footer #top-footer .left-footer .block {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer #top-footer .left-footer .block h2 {
  font-family: WorkSans-Bold;
  font-size: 20px;
  margin: 0 0 15px 0;
}

footer #top-footer .left-footer .block a {
  text-decoration: none;
  color: #A6A8AD;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

footer #top-footer .left-footer .block span {
  font-family: WorkSans-Medium;
  color: white;
  margin-top: 20px;
  font-size: 14px;
}

footer #top-footer .right-footer {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

footer #top-footer .right-footer .block {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer #top-footer .right-footer .block h2 {
  font-family: WorkSans-Bold;
  font-size: 20px;
  margin: 0 0 15px 0;
}

footer #top-footer .right-footer .block a {
  text-decoration: none;
  color: #A6A8AD;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

footer #top-footer .right-footer .block span {
  font-family: WorkSans-Medium;
  color: white;
  margin-top: 20px;
  font-size: 14px;
}

footer #bottom-footer {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-family: WorkSans-Regular;
  padding: 0 0 30px 0;
}

.h2__footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  color: #FFFFFF;
}

.a__footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  color: #A6A8AD;
}

.span__footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #A6A8AD;
}

/*# sourceMappingURL=main.css.map */
